In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [32]:
# import monthly data
# VIX = pd.read_csv (r'C:\Users\admin\OneDrive - nyu.edu\Spring 2022\Capstone\Data\VIX.csv')
# VIX = VIX.set_index(pd.to_datetime(VIX['DATE']))
#VIX.drop('DATE',1,inplace=True)

unrate = pd.read_csv (r'C:\Users\admin\OneDrive - nyu.edu\Spring 2022\Capstone\Data\Unemployment Rate (UNRATE).csv')
unrate = unrate.set_index(pd.to_datetime(unrate['DATE']))
unrate.drop('DATE',1,inplace=True)

income = pd.read_csv (r'C:\Users\admin\OneDrive - nyu.edu\Spring 2022\Capstone\Data\Real Disposable Income Per Capita(A229RX0).csv')
income = income.set_index(pd.to_datetime(income['DATE']))
income.drop('DATE',1,inplace=True)

# CPI = pd.read_csv (r'C:\Users\admin\OneDrive - nyu.edu\Spring 2022\Capstone\Data\CPI Total All US(CPALTT01USM657N).csv')
# CPI = CPI.set_index(pd.to_datetime(CPI['DATE']))
# CPI.drop('DATE',1,inplace=True)

prime = pd.read_csv (r'C:\Users\admin\OneDrive - nyu.edu\Spring 2022\Capstone\Data\Bank Prime Loan Rate(MPRIME).csv')
prime = prime.set_index(pd.to_datetime(prime['DATE']))
prime.drop('DATE',1,inplace=True)

C:\Users\admin\AppData\Local\Temp\ipykernel_26376\857925357.py:8: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  unrate.drop('DATE',1,inplace=True)
C:\Users\admin\AppData\Local\Temp\ipykernel_26376\857925357.py:12: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  income.drop('DATE',1,inplace=True)
C:\Users\admin\AppData\Local\Temp\ipykernel_26376\857925357.py:20: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  prime.drop('DATE',1,inplace=True)

In [111]:
#index is end of month change to beg of month
USRealGDP = pd.read_csv (r'C:\Users\admin\OneDrive - nyu.edu\Spring 2022\Capstone\Data\USRealGDP.csv')
USRealGDP = USRealGDP.set_index(pd.to_datetime(USRealGDP['Date']))
# USRealGDP= USRealGDP.set_index(USRealGDP.index.shift(1, freq='D'))
USRealGDP['Value'] = USRealGDP['Value'].apply(lambda x: x.rstrip('T'))
USRealGDP.drop("Date",1,inplace=True)
USRealGDP.head()

C:\Users\admin\AppData\Local\Temp\ipykernel_26376\2749684106.py:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  USRealGDP.drop("Date",1,inplace=True)

            Value
Date
2022-01-01  19.78
2021-12-01  19.79
2021-11-01  19.78
2021-10-01  19.89
2021-09-01  19.58

In [ ]:
Master_Monthly = prime[['MPRIME']]
Master_Monthly['MPRIMEpct'] = prime['MPRIME'].pct_change()
Master_Monthly['MPRIMEstd'] = prime['MPRIME'].rolling(10).std()
# Master_Monthly['VIX'] = VIX['Adj Close']
# Master_Monthly['VIXpct'] = VIX['Adj Close'].pct_change()
# Master_Monthly['VIXstd'] = VIX['Adj Close'].rolling(10).std(-10)
Master_Monthly['RealGDP'] = USRealGDP['Value'].astype(float)
Master_Monthly['RealGDPpct'] = USRealGDP['Value'].astype(float).pct_change(-1)
Master_Monthly['RealGDPstd'] = USRealGDP['Value'].astype(float).rolling(10).std().shift(-10)
Master_Monthly['UNRATEpct'] = unrate['UNRATE']
Master_Monthly['UNRATEstd'] = unrate['UNRATE'].rolling(10).std(-10)
Master_Monthly['income'] = income['A229RX0']
Master_Monthly['incomepct'] = income['A229RX0'].pct_change()
Master_Monthly['incomestd'] = income['A229RX0'].rolling(10).std(-10)
# Master_Monthly['CPIpct'] = CPI['CPALTT01USM657N']
# Master_Monthly['CPIstd'] = CPI['CPALTT01USM657N'].rolling(10).std(-10)

In [108]:
#Come with change percentage
bond10 = pd.read_csv (r'C:\Users\admin\OneDrive - nyu.edu\Spring 2022\Capstone\Data\United States 10-Year Bond Yield Monthly.csv')
bond10 = bond10.set_index(bond10['Date'])
bond5 = pd.read_csv (r'C:\Users\admin\OneDrive - nyu.edu\Spring 2022\Capstone\Data\United States 5-Year Bond Yield Monthly.csv')
bond5 = bond5.set_index(bond5['Date'])
bond3 = pd.read_csv (r'C:\Users\admin\OneDrive - nyu.edu\Spring 2022\Capstone\Data\United States 3-Month Bond Yield Monthly.csv')
bond3 = bond3.set_index(bond3['Date'])

In [109]:
bond10['bond10'] = bond10['Price']
bond10['bond10pct'] = bond10['Change %'].apply(lambda x: x.rstrip('%')).astype(float)/100
bond10['bond10std'] = bond10['Price'].rolling(10).std().shift(-10)
bond10['bond5'] = bond5['Price']
bond10['bond5pct'] = bond5['Change %'].apply(lambda x: x.rstrip('%')).astype(float)/100
bond10['bond5std'] = bond5['Price'].rolling(10).std().shift(-10)
bond10['bond3'] = bond3['Price']
bond10['bond3pct'] = bond3['Change %'].apply(lambda x: x.rstrip('%')).astype(float)/100
bond10['bond3std'] = bond3['Price'].rolling(10).std().shift(-10)

In [111]:
bond10['year'] = bond10['Date'].str[-2:].astype(int)
bond10['newdate'] = np.where( bond10['year'] >23, bond10['Date'].str[:4] + "19" + bond10['year'].astype(str),bond10['Date'])
bond10 = bond10.set_index(pd.to_datetime("01 " + bond10['newdate']))
bond10.drop(bond10.iloc[:, 0:6],1,inplace = True)

In [112]:
bond10

,bond10,bond10pct,bond10std,bond5,bond5pct,bond5std,bond3,bond3pct,bond3std,year,newdate
newdate,,,,,,,,,,,
2022-03-01,2.415,0.3260,0.184315,2.4287,0.4179,0.350579,0.538,0.6708,0.094805,22,Mar 22
2022-02-01,1.822,0.0212,0.157159,1.7129,0.0610,0.284713,0.322,0.7405,0.048278,22,Feb 22
2022-01-01,1.784,0.1799,0.149486,1.6144,0.2782,0.193523,0.185,2.4906,0.016696,22,Jan 22
2021-12-01,1.512,0.0382,0.152005,1.2630,0.0816,0.170470,0.053,0.0000,0.015986,21,Dec 21
2021-11-01,1.456,-0.0671,0.201403,1.1677,-0.0144,0.199499,0.053,-0.0862,0.016585,21,Nov 21
...,...,...,...,...,...,...,...,...,...,...,...
1970-06-01,7.840,-0.0088,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70,Jun 1970
1970-05-01,7.910,0.0704,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70,May 1970
1970-04-01,7.390,0.0453,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70,Apr 1970
1970-03-01,7.070,-0.0235,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70,Mar 1970
1970-02-01,7.240,-0.0706,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70,Feb 1970

In [130]:
commodity.head()

              Date     Price      Open      High       Low Vol. Change %
Date
2022-03-01  Mar 22  755.9546  673.0486  853.2746  673.0486    -   12.32%
2022-02-01  Feb 22  673.0487  623.7843  700.0093  618.9357    -    7.90%
2022-01-01  Jan 22  623.7843  561.1805  628.3660  558.4681    -   11.16%
2021-12-01  Dec 21  561.1805  522.4442  572.8892  509.0838    -    7.41%
2021-11-01  Nov 21  522.4443  588.2094  594.8341  516.3716    -  -11.18%

In [171]:
master_table = pd.read_csv(r"C:\Users\admin\OneDrive - nyu.edu\Spring 2022\Capstone\Master Table\Master_weekly.csv")
master_table.set_index(pd.to_datetime(master_table["Date"]),inplace=True)
master_table.drop('Date',axis=1,inplace=True)

In [172]:
master_table["log_SP500"] = np.log(master_table["SP500"])
master_table["log_return_SP500"] = master_table["log_SP500"] - master_table["log_SP500"].shift(1)

master_table["log_VIX"] = np.log(master_table["VIX"])
master_table["log_return_VIX"] = master_table["log_VIX"] - master_table["log_VIX"].shift(1)

master_table["log_commodity"] = np.log(master_table["commodity"])
master_table["log_return_commodity"] = master_table["log_commodity"] - master_table["log_commodity"].shift(1)

master_table["yield_diff"] = master_table["bond10"] - master_table["bond3"]

In [ ]:
master_table.describe()

In [174]:
master_table = pd.read_csv(r"C:\Users\admin\OneDrive - nyu.edu\Spring 2022\Capstone\Master Table\New_Master_Monthly.csv")
master_table.drop(master_table.index[384:],inplace=True)
master_table.set_index(pd.to_datetime(master_table["Date"]),inplace=True)
master_table.drop(["Date"],axis=1,inplace=True)
master_table.head()

,MPRIME,MPRIMEpct,MPRIMEstd,SP500VIX,VIXlog,VIXlog_return,VIXpct,VIXstd,RealGDPpct,RealGDPstd,...,b1std,risk free,SP500,SP500_ret,SP500_std,SP500log_std,yield_diff,income,incomestd,RealGDP
Date,,,,,,,,,,,,,,,,,,,,,
2021-12-01,3.25,0.0,0.0,21.35,3.061052,-0.143281,0.154054,1.854265,0.000506,0.060828,...,1.292001,0.050696,4766.18,0.043613,105.674293,2.408573,1.459,46252.0,98.819701,19.79
2021-11-01,3.25,0.0,0.0,18.50,2.917771,-0.143281,0.035255,1.854265,-0.005530,0.060828,...,1.292001,0.045628,4567.00,-0.008334,105.674293,2.465207,1.403,46372.0,78.513269,19.78
2021-10-01,3.25,0.0,0.0,17.87,2.883123,-0.034647,-0.098385,1.854265,0.015832,0.060828,...,1.292001,0.081114,4605.38,0.069144,105.674293,2.454358,1.503,46448.0,474.293510,19.89
2021-09-01,3.25,0.0,0.0,19.82,2.986692,0.103568,0.134516,0.995138,0.003074,0.157162,...,0.785386,0.065908,4307.54,-0.047569,162.019125,2.497675,1.454,46529.0,467.783069,19.58
2021-08-01,3.25,0.0,0.0,17.47,2.860485,-0.126206,-0.007386,1.257312,0.009307,0.198578,...,0.468824,0.050696,4522.68,0.028990,153.749350,2.546064,1.261,47307.0,205.788727,19.52

In [175]:
master_table["VIXlog"] = np.log(master_table["SP500VIX"])
master_table["VIXlog_return"] = master_table["VIXlog"] - master_table["VIXlog"].shift(1)
master_table['VIXpct'] = master_table["SP500VIX"].pct_change(-1)
master_table['VIXstd'] = master_table["SP500VIX"].rolling(3).std()

master_table['UNRATEpct'] = unrate.loc["1990-01-01":"2021-12-01"]
master_table['UNRATEstd'] = unrate.loc["1990-01-01":"2021-12-01"].rolling(3).std()

master_table['income'] = income.loc["1990-01-01":"2021-12-01"]
master_table['incomepct'] = income.loc["1990-01-01":"2021-12-01"].pct_change(-1)
master_table['incomestd'] = income.loc["1990-01-01":"2021-12-01"].rolling(3).std()

master_table['RealGDP'] = USRealGDP.loc["1990-01-01":"2021-12-01"].astype(float)
master_table['RealGDPpct'] = USRealGDP.loc["1990-01-01":"2021-12-01"].astype("float").pct_change(-1)
master_table['RealGDPstd'] = USRealGDP.loc["1990-01-01":"2021-12-01"].rolling(3).std()

master_table.fillna(method = 'bfill')
#master_table.fillna(method = 'ffill')

,MPRIME,MPRIMEpct,MPRIMEstd,SP500VIX,VIXlog,VIXlog_return,VIXpct,VIXstd,RealGDPpct,RealGDPstd,...,b1std,risk free,SP500,SP500_ret,SP500_std,SP500log_std,yield_diff,income,incomestd,RealGDP
Date,,,,,,,,,,,,,,,,,,,,,
2021-12-01,3.25,0.000000,0.000000,21.35,3.061052,-0.143281,0.154054,1.854265,0.000506,6.082763e-02,...,1.292001,0.050696,4766.18,0.043613,105.674293,2.408573,1.459,46252.0,98.819701,19.790000
2021-11-01,3.25,0.000000,0.000000,18.50,2.917771,-0.143281,0.035255,1.854265,-0.005530,6.082763e-02,...,1.292001,0.045628,4567.00,-0.008334,105.674293,2.465207,1.403,46372.0,78.513269,19.780000
2021-10-01,3.25,0.000000,0.000000,17.87,2.883123,-0.034647,-0.098385,1.854265,0.015832,6.082763e-02,...,1.292001,0.081114,4605.38,0.069144,105.674293,2.454358,1.503,46448.0,474.293510,19.890000
2021-09-01,3.25,0.000000,0.000000,19.82,2.986692,0.103568,0.134516,0.995138,0.003074,1.571623e-01,...,0.785386,0.065908,4307.54,-0.047569,162.019125,2.497675,1.454,46529.0,467.783069,19.580000
2021-08-01,3.25,0.000000,0.000000,17.47,2.860485,-0.126206,-0.007386,1.257312,0.009307,1.985783e-01,...,0.468824,0.050696,4522.68,0.028990,153.749350,2.546064,1.261,47307.0,205.788727,19.520000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1990-05-01,10.00,0.000000,0.254054,18.10,2.895912,0.073343,-0.154206,0.835404,0.000000,3.609017e-03,...,4.705743,4.578104,361.23,0.091989,2.569287,0.946701,0.715,27442.0,72.187256,9.398243
1990-04-01,10.00,0.000000,0.322092,21.40,3.063391,0.167479,0.066800,2.363077,0.003629,4.860050e-07,...,5.143878,4.423518,330.80,-0.026887,16.719337,1.050268,1.092,27505.0,78.460181,9.398243
1990-03-01,10.00,0.000000,0.364515,20.06,2.998728,-0.064663,-0.137575,1.659679,0.000000,1.962067e-02,...,4.256726,4.596921,339.94,0.024255,15.614035,1.110468,0.624,27361.0,19.008770,9.364259
1990-02-01,10.00,-0.010880,0.450042,23.26,3.146735,0.148007,-0.003854,1.607026,0.000000,1.962067e-02,...,2.465331,4.326851,331.89,0.008539,4.992164,1.198057,0.601,27379.0,NaN,9.364259
1990-01-01,10.11,-0.037143,0.471386,23.35,3.150597,0.003862,NaN,1.874042,NaN,4.857410e-07,...,2.720025,4.445639,329.08,0.008539,5.636757,1.312329,0.601,27341.0,NaN,9.364259

In [178]:
master_table["b30std"] = master_table["b30ind"].rolling(3).std()
master_table["b10std"] = master_table["b10ind"].rolling(3).std()
master_table["b5std"] = master_table["b5ind"].rolling(3).std()
master_table["b1std"] = master_table["b1ind"].rolling(3).std()

master_table['SP500_ret'] = master_table["SP500"].pct_change(-1)
master_table["SP500_std"] = master_table["SP500"].rolling(3).std()

master_table["SP500VIX_ret"] = master_table["SP500VIX"].pct_change(-1)
# master_table.to_csv(r"C:\Users\admin\OneDrive - nyu.edu\Spring 2022\Capstone\Master Table\New_Master_Monthly.csv")

In [179]:
master_table.fillna(method="ffill",inplace=True)
master_table.fillna(method='bfill',inplace=True)
master_table.head()
master_table.to_csv(r"C:\Users\admin\OneDrive - nyu.edu\Spring 2022\Capstone\Master Table\New_Master_Monthly.csv")